<ion-view view-title="我的订单">
    <ion-content class="color-gray-background">
        <ti-segmented-control on-select="selectOrderStatus($index)">
            <ti-segmented-control-button class="button-positive" title="'已完成'"></ti-segmented-control-button>
            <ti-segmented-control-button class="button-positive" title="'未完成'" selected></ti-segmented-control-button>
        </ti-segmented-control>
        <ion-list>
            <ion-item ng-repeat="order in orders" ng-click="gotoOrderDetailPage()"
                      class="color-white-background standard-border">
                <div class="row">
                    <div class="col col-80">
                        <p>订单编号：{{order.orderNumber}}</p>
                    </div>
                    <div class="col col-20">
                        <p>{{order.status}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col col-33 color-font-yellow font-size-20">
                        {{order.totalFee}}
                    </div>
                    <div class="col col-33">
                        <p>{{order.orderDate}}</p>
                    </div>
                    <div class="col col-33">
                        <p>1 人</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

